nav.navbar {
  max-width: 100vw;
  height: 100px;
  padding: 20px 15px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
  position: relative;
}
.burger-menu {
  display: none;
  cursor: pointer;
  z-index: 20;
}
.burger-menu img {
  width: 40px;
  position: absolute;
  top: 30px;
  right: 30px;
  filter: invert(100%);
}
.menu-bar {
  position: fixed;
  top: 0;
  right: 0;
  flex-direction: column;
  background-color: black;
  width: 80vw;
  padding: 30% 0 0 30%;
  font-size: 1.5em;
  height: 200%;
  position: fixed;
  display: none;
  transform: translateX(100%);
}
.menu-bar.open {
  display: flex;
  animation: slide-nav-in 0.3s ease-in-out forwards;
}
.menu-bar > * {
  margin-bottom: 50px;
}
.menu_item > * {
  margin-bottom: 10px;
}
.signin {
  display: flex;
  flex-direction: column;
}
.signin > * {
  margin-bottom: 20px;
}

@keyframes slide-nav-in {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: block;
  }
}
@media screen and (min-width: 769px) {
  .menu-bar {
    display: flex;
    margin-left: 20px;
    flex-direction: row;
    padding: 0;
    padding-top: 10px;
    position: static;
    transform: none;
    transition: none;
    justify-content: space-between;
    /* align-items: center; */
    height: 100%;
    background: transparent;
    background-color: rebeccapurple;
    display: flex;
  }
  .menu-bar > * {
    margin-bottom: 0;
  }
  .menu_item {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .menu_item li {
    margin-right: 20px;
  }

  .signin > *:last-child {
    margin-right: 0;
  }

  .signin {
    flex-direction: row;
  }
  .signin > * {
    margin-right: 20px;
  }
}
